*{
	margin: 0px;
	padding: 0px;
}

#ContPrestamo{

	width: 100%;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 2%;
	box-sizing: border-box;
	background-color: #e2e2e2;
	border-radius: 10px;
	/*border: 1px solid #3A9FE6;*/
	overflow: hidden;

	
}

#ContDatos{
	border: 1px solid #000;
	float: left;
	width: 45%;
	overflow: hidden;
	padding: 2%;
	box-sizing: border-box;
	background-color: #f8f8f8;
	border-radius: 10px;
	font-size:medium;
	
}

#ContDatos h1{
	margin: 0px;
	padding: 6px;
	box-sizing: border-box;
	text-align: center;
	background-color: #9cacc0 ;
	margin-bottom: 1%;
	color: rgb(19, 18, 18);
}

#ContDatos form div{
	width: 100%;
	/*border: 1px solid black;*/
	display: inline-block;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size:medium;

}

#MsjVerificarLector{
	display: none;
}
#FormPrestamo div label{
	color: #0c0c0c;
	
}
#FormPrestamo div label,#FormPrestamo div input{
	padding: 5px;
	box-sizing: border-box;

}


#FormPrestamo div button{
	border: none;
	/* background-color: #1589D3; */
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	width: 35%;
}

#FormPrestamo div button:hover{
	background-color: #0869C4;
	/* text-decoration: underline; */
	cursor: pointer;
}


#botones{
	
	text-align: center;
}


/*OTRA CAJA DE LADO DERECHO*/

#ContListLibros{
	border:1px solid black;
	float: right;
	width: 55%;
	height: 490px;
	overflow: hidden;
	padding: 2%;
	box-sizing: border-box;
	background-color: #d7d6d3;
	border-radius: 10px;
	color: #fff;
	font-size:medium;
}

#ContListLibros h1{
	margin: 0px;
	padding: 6px;
	box-sizing: border-box;
	text-align: center;
	background-color: #9cacc0;
	margin-bottom: 2%;
	color: rgb(20, 20, 20);
}



#busqueda{
	width: 100%;
	/*border: 1px solid black;*/
	display: inline-block;
	margin-top: 1%;
	margin-bottom: 1%;

}

#busqueda button, #busqueda input{
	padding: 5px;
	box-sizing: border-box;


}

#busqueda button{
	border: none;
	/* background-color: #1589D3; */
	color: #fff;
	padding: 10px;
	border-radius: 5px;
}

#busqueda button:hover{
	background-color: #0869C4;
	/* text-decoration: underline; */
	cursor: pointer;
}

#busqueda{
	text-align: right;
}


#ListaLibros{
	
	border:1px solid black;

	width: 100%;
	max-height: 340px;
	overflow: auto;

}

#FormPrestamo div > label{
	width: 40%;
	display: inline-block;
	float: left;
}

#FormPrestamo div > div{
	width: 55%;
	display: inline-block;
	float: right;
}

#FormPrestamo div > input{
	width: 55%;
	display: inline-block;
	float: right;
}



#FormPrestamo div  div> input{
	float: left;

}
#FormPrestamo div  div> select{
	float: left;
	width: 55%;

	padding: 6px;
	box-sizing: border-box;
}

#FormPrestamo div  div> button{
	float: right;
}